<div id="locators-tbl">
  <table>
    <thead>
      <tr>
        <th>Номер заказа</th>
        <th>Локатор</th>
        <th>Фамилия</th>
        <th>Имя</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <button type="button" name="button">Назад</button>
</div>
