
<div id="orders-tbl">
  <table>
    <thead>
      <tr>
        <th>Номер заказа</th>
        <th><a href="#">Локатор</a></th>
        <th>Дата последнего обновления</th>
        <th>Стоимость в рублях</th>
        <th>Стоимость в валюте заказа</th>
        <th>Количество пассажиров</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
